# 1. IMPORTS

In [21]:
import pandas as pd
import inflection

## 1. 1 HELPER FUNCTIONS

## 1.2 LOADING DATA

In [17]:
df_store = pd.read_csv('./datasets/store.csv', low_memory=False)
df_sales = pd.read_csv('./datasets/train.csv', low_memory=False)
df_test = pd.read_csv('./datasets/test.csv', low_memory=False)

In [18]:
df_sales.head(1)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1

In [19]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [20]:
df_raw = pd.merge(df_sales, df_store, how='left', on='Store')

# 2. DATA DESCRIPTION

In [36]:
# Copiando o df_raw por seguranca a cada nova seção
df1 = df_raw.copy()

## 2.1 RENAME COLUMNS

In [37]:
old_columns = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
                       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
                       'CompetitionDistance', 'CompetitionOpenSinceMonth',
                       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
                       'Promo2SinceYear', 'PromoInterval']

snakecase = lambda x: inflection.underscore( x )

cols_new = list ( map (snakecase, old_columns ) )

df1.columns = cols_new

## 2.2 DATA DIMENSIONS

In [38]:
print(f'{df1.shape[0]} linhas')
print(f'{df1.shape[1]} colunas')

1017209 linhas
18 colunas

## 2.3 DATA TYPES

In [50]:
# Tipo da coluna 'date' está como objeto, precisamos trocar para o tipo datetime
df1['date'] = pd.to_datetime( df1['date'] )
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## 2.4 CHECK NA

In [43]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

## 2.5 FILLOUT NA

In [61]:
#competition_distance
df1['competition_distance'] = df1['competition_distance'].apply( lambda x: 200000 if pd.isna( x ) else x)

#competition_open_since_month
df1['competition_open_since_month'] = df1[['date', 'competition_open_since_month']].apply(lambda x: x['date'].month if pd.isna( x['competition_open_since_month'] ) else x['competition_open_since_month'], axis= 1 )

#competition_open_since_year
df1['competition_open_since_year'] = df1[['date', 'competition_open_since_year']].apply(lambda x: x['date'].year if pd.isna( x['competition_open_since_year'] ) else x['competition_open_since_year'], axis= 1 )

#promo2_since_week
df1['promo2_since_week'] = df1.apply(lambda x: 0 if x['promo2'] == 0 else x['date'].weekofyear if pd.isna( x['promo2_since_week'] ) else x['promo2_since_week'], axis=1 )

#promo2_since_year
df1['promo2_since_year'] = df1.apply(lambda x: 0 if x['promo2'] == 0 else x['date'].year if pd.isna( x['promo2_since_year'] ) else x['promo2_since_year'], axis=1 )

#promo_interval
df1['promo_interval'].fillna(0, inplace=True)

month_map = {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sept', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

df1['month_map'] = df1['date'].dt.month.map(month_map)

df1['is_promo'] = df1.apply(lambda x: 0 if str ( x['month_map'] ) not in str ( x['promo_interval'] ) else 1, axis=1)

In [82]:
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month             int64
competition_open_since_year              int64
promo2                                   int64
promo2_since_week                        int64
promo2_since_year                        int64
promo_interval                          object
month_map                               object
is_promo                                 int64
dtype: object

In [81]:
df1['competition_open_since_month'] = df1['competition_open_since_month'].astype( 'int64' )
df1['competition_open_since_year'] = df1['competition_open_since_year'].astype( 'int64' )
df1['promo2_since_week'] = df1['promo2_since_week'].astype( 'int64' )
df1['promo2_since_year'] = df1['promo2_since_year'].astype( 'int64' )

## 2.6 CHANGE DTYPES

## DESCRIPTIVE STATISTICS