# 1. IMPORTS

In [12]:
import pandas as pd
from inflection import underscore

## 1. 1 HELPER FUNCTIONS

## 1.2 LOADING DATA

In [10]:
df_store = pd.read_csv('./datasets/store.csv', low_memory = False)
df_train = pd.read_csv('./datasets/train.csv', low_memory = False)
df_raw = df_store.merge(df_train, how='left', on='Store')

# 2. DATA DESCRIPTION

## 2.1 RENAME COLUMNS

In [13]:
# Trasorming columns names into snake_case
old_cols = df_raw.columns.to_list()
new_cols = [underscore(w) for w in old_cols]
df_raw.columns = new_cols

## 2.2 DATA DIMENSIONS

In [20]:
print(f'Dataset has {df_raw.shape[0]} lines and {df_raw.shape[1]} columns')

Dataset has 1017209 lines and 18 columns

## 2.3 CHECK DTYPES

In [31]:
df_raw.dtypes

store                                    int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
dtype: object

## 2.4 CHANGING DTYPES

## 2.4 CHECK NA

In [32]:
df_raw.isna().sum()

store                                0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
dtype: int64

## 2.5 FILL NA VALUES

In [52]:
# competition_distance ( vamos trocar os NA's por uma distnacia muito grande, presumindo que não exista competição próxima)
# df_raw['competition_distance'] = df_raw['competition_distance'].apply(lambda x: 20000 if pd.isna( x ) else x).astype('int64')


# competition_open_since_month ( qunando for NA vamos substituir pelo mês da data atual)
df_raw['competition_open_since_month']  = df_raw.apply(lambda x: x['date'].month if pd.isna( x['competition_open_since_month'] )  else x['competition_open_since_month'], axis = 1)


# competition_open_since_year
df_raw['competition_open_since_year']  = df_raw.apply(lambda x: x['date'].year if pd.isna( x['competition_open_since_year'] )  else x['competition_open_since_year'], axis = 1)

# promo2_since_week
df_raw['promo2_since_week'] = df_raw.apply(lambda x: x['date'].week if pd.isna( x['promo2_since_week']) else x['promo2_since_week'], axis = 1)

# promo2_since_year
df_raw['promo2_since_year'] = df_raw.apply(lambda x: x['date'].year if pd.isna(x['promo2_since_year']) else x['promo2_since_year' ], axis = 1)

In [ ]:
# promo_interval
month_map = {1: 'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sept', 10: 'Oct', 11: 'Nov', 12: 'Dec'}
df['is_promo'] =

In [53]:
df_raw[['date', 'promo2', 'promo_interval']].sample(30)

             date  promo2    promo_interval
392493 2014-03-21       0               NaN
826887 2014-10-27       1   Jan,Apr,Jul,Oct
702279 2013-03-24       0               NaN
348405 2013-08-03       0               NaN
841030 2015-05-08       1   Jan,Apr,Jul,Oct
618765 2015-03-30       1  Mar,Jun,Sept,Dec
152696 2014-09-06       1   Feb,May,Aug,Nov
565953 2014-03-21       0               NaN
839246 2015-01-28       0               NaN
115106 2013-03-31       1   Feb,May,Aug,Nov
990916 2013-03-20       1   Feb,May,Aug,Nov
94254  2015-02-09       0               NaN
562325 2014-11-04       1   Jan,Apr,Jul,Oct
362769 2015-01-09       1   Jan,Apr,Jul,Oct
327597 2014-04-28       0               NaN
744083 2013-11-19       0               NaN
544345 2014-07-03       1  Mar,Jun,Sept,Dec
744372 2013-02-03       0               NaN
300074 2013-10-25       1  Mar,Jun,Sept,Dec
341065 2013-01-19       0               NaN
603448 2015-05-08       0               NaN
509277 2014-07-11       1   Feb,May,Aug,Nov
164665 2013-12-05       1  Mar,Jun,Sept,Dec
124405 2013-08-21       1   Jan,Apr,Jul,Oct
354702 2013-11-24       0               NaN
408767 2013-01-01       0               NaN
780217 2013-07-10       0               NaN
445933 2014-12-22       1   Jan,Apr,Jul,Oct
679896 2014-02-14       0               NaN
966939 2013-04-26       1   Feb,May,Aug,Nov

## 2.X CHANGE DTYPES

In [23]:
# Transforming 'date' columns into datetime
df_raw['date'] = pd.to_datetime( df_raw['date'] )

In [50]:
df_raw['competition_open_since_month'].unique()

array([ 9., 11., 12.,  4., 10.,  8.,  7.,  6.,  5.,  3.,  2.,  1.])

In [30]:
# competition_open_since_month into int
df_raw['competition_open_since_month'] = df_raw['competition_open_since_month'].astype( 'int64' )

# competition_open_since_year into int
df_raw['competition_open_since_year']  = df_raw['competition_open_since_year'].astype( 'int64' )

# promo2_since_week into int
df_raw['promot2_since_week'] = df_raw['promo2_since_week'].astype( 'int64' )

# promo2_since_year into int
df_raw['promo2_since_year'] = df_raw['promo2_since_year'].astype( 'int64' )

# state_holiday into int
df_raw['state_holiday'] = df_raw['state_holiday'].astype( 'int64' )

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [28]:
df_raw.dtypes

store                                    int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
dtype: object